

.about-section {
    position: relative;
    background-image: url('../Assets/pexels-reneterp-334978.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;
    text-align: center;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 85%, 34% 99%, 34% 99%, 0 86%, 0 0);
    height: 70vh;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .about-content {
    max-width: 700px;
    text-align: left;
    padding-left: 150px;
    font-family: "Merriweather", serif;
    font-style: italic;
  }
  
  .about-section h1 {
    padding-top: 20px;
    font-size: 4em;
    font-weight: 680;
    margin-bottom: 20px;
  }
  
  .row-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;
  }
  
  .about-text {
    padding: 20px 80px;
    font-family: "Bona Nova SC", serif;
    text-align: center;
  }
  
  .about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-images img {
    width: 100%;
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .about-section {
      height: 45vh;
    }
    .about-content {
      padding-left: 0px;
    }
    .about-section h1 {
      font-size: 3em;
      margin-bottom: 20px;
      padding-top: 50px;
    }
    .row {
      flex-direction: column;
    }

    .about-text{
      padding: 20px;
    }
   
    .col-xs-12 {
      margin-bottom: 20px;
    }
  }
  