.services-section {
    position: relative;
  background-image: url('../Assets/pexels-bence-kondor-1188017-2259917.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 20px;
  text-align: center;
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 85%, 34% 99%, 34% 99%, 0 86%, 0 0);
  height: 70vh; 
  display: flex;
  
  align-items: center;
  }
  
  .services-content {
    max-width: 700px;
    
    text-align: left; 
    padding-left: 150px;
    font-family: "Merriweather", serif;
 
  font-style: italic;
   
  }
  
  .services-section h1 {
    padding-top: 20px;
    font-size: 4em;
    font-weight: 580;
    margin-bottom: 20px;
  }
  
  .services-section p {
    font-size: 1.1em;
  }
  

  @media (max-width: 768px) {
    .services-section {
      height: 50vh; 
     
    }
    .services-content{
        padding-left: 0px;
    }
    .services-section h1 {
        font-size: 3em;
        margin-bottom: 20px;
        padding-top: 50px;
      }
      
      .services-section p {
        font-size: 0.8em;
      }
    
  }


  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0px;
    padding-bottom: 40px;
  }
  
  .service {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: 300px; 
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s;
    /* text-align: center; */
  }
  
  .service:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .service img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px ;
  }
  
  .service h2 {
   
    font-size: 25px;
    margin-top: 15px;
    line-height: 1.5;
  }
  
  .service p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    
  }

  .service-card{
    font-family: "Merriweather", serif;
 
    font-style: italic;

  }
  .service-card h1{
    font-weight: bold;
  }
  .service-last{
    font-family: "Merriweather", serif;
 height: 350px;
    font-style: italic;
    background-color: #e8e8ca;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
 
  }
  .service-last h3{
    font-size: 20px;
  }

@media (max-width: 1024px) {
    .service {
      width: calc(50% - 40px); 
      max-width: none;
    }
  }
  
  @media (max-width: 768px) {
    .service {
      width: calc(100% - 40px); 
    }
  }

  .custom-button2 {
    color: black;
    font-weight: bold;
    background: transparent;
    border: 3px solid white;
    /* border-radius: 20px 0  20px 0;  */
    padding: 15px 20px;
    margin-top: 10px;
    font-size: 16px;
    
    transition: background-color 0.5s ease-in-out , transform 0.2s;
  }
  
  .custom-button2:hover {
    background-color:transparent; 
    color: black;
    border: 3px solid  #59ab1f;
    transform: scale(1.05);
  }